@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  background: red;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  background-color: #191919;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  color: red;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  color: red;
  transition: all 1s ease;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
    url("../Slike/GettyImages-2694757-cbf5f93.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  margin-bottom: 150px;
  color: white;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: red;
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.posljedice-holocaust {
  background-color: #191919;
  width: 100%;
}

.holocaust {
  display: flex;
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.tekst-holocaust {
  width: 550px;
}
.tekst-holocaust h2 {
  color: red;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.tekst-holocaust p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 50px;
}

.slika-holocaust {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
}

.posljedice-uništenja {
  background-color: #191919;
  width: 100%;
}

.uništenja {
  display: flex;
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.tekst-uništenja {
  width: 550px;
}
.tekst-uništenja h2 {
  color: red;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.tekst-uništenja p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 50px;
}

.slika-uništenja {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
}

.posljedice-dekolonizacija {
  background-color: #191919;
  width: 100%;
}

.dekolonizacija {
  display: flex;
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.tekst-dekolonizacija {
  width: 550px;
}
.tekst-dekolonizacija h2 {
  color: red;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.tekst-dekolonizacija p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 50px;
}

.slika-dekolonizacija {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
}

.scroll {
  transform: translateY(100px);
  opacity: 0;
  transition: all 5s ease;
}

.scroll.active {
  transform: translateY(0px);
  opacity: 1;
}

footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: red;
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
